{% extends "base.html" %}

{% block title %}{% endblock %}

{% block main %}
<div class="container">
    <div class="jumbotron">
      <h2>The Burrow</h2>
      <p></p>
      <p>This tiny Lob replica is my TPI submission for the Developer Experience engineering role.</p>
    </div>
    <p>This is my first first foray into webapp creation, so I'm very interested in feedback regarding best practices in code construction, user experience, and file structure.  </p>
    <p>Since this is a small Lob clone, I thoguht it fitting to keep an unintrusive crawfish motif throughout the webapp. I hope you enjoy the site.</p>
  </div>

{% endblock %}